---
layout: default
title: Private Image Classification
---

<p class="text-center" style="font-size: 1.25rem;">
  <!-- This list features differentially private image classification methods, complete with third-party validations. -->
</p>

<!-- <p style="font-size: 1.25rem;"><strong>
Submit a new <a href="https://github.com/robust-ml/robust-ml.github.io/issues/new?template=submit-defense.md">defense</a> or <a href="https://github.com/robust-ml/robust-ml.github.io/issues/new?template=submit-analysis.md">analysis</a>.
</strong></p> -->

<div id="leaderboard" class="text-center" style="font-size: 1.25rem;">
    <a class="btn btn-secondary" href="#CIFAR-10_heading">CIFAR-10</a>
    <!-- <a class="btn btn-secondary" href="#FMNIST_heading">FMNIST</a> -->
    <!-- <a class="btn btn-secondary" href="#MNIST_heading">MNIST</a> -->
    <a class="btn btn-secondary" href="#IMAGENET_heading">ImageNet-1K</a>
    <!-- <a class="btn btn-secondary" href="#ImageNet_CIFAR-100_heading">CIFAR-100 (with public ImageNet-1K)</a> -->
    <a class="btn btn-secondary" href="#JFT300M_Places365_heading">Places365 (with public JFT300M)</a>
    <!-- <a class="btn btn-secondary" href="#ImageNet_CheXpert_heading">ImageNet-CheXpert</a> -->
</div>

<!-- <section class="container" id="MNIST_heading"></section>
  <p class="text-center" style="font-size: 1.25rem;">
    MNIST
  </p>
  {% include table.html id="MNIST" src=site.data.MNIST published=true %}
</section>

<section class="container" id="FMNIST_heading"></section>
  <p class="text-center" style="font-size: 1.25rem;">
    FMNIST
  </p>
  {% include table.html id="FMNIST" src=site.data.Fashion-MNIST published=true %}
</section> -->


<section class="container" id="CIFAR-10_heading">
  <p class="text-center" style="font-size: 1.25rem;">
    CIFAR-10 without public data
  </p>
  {% include table.html id="CIFAR-10-no" src=site.data._CIFAR-10.CIFAR10_no published=true %}

  <p class="text-center" style="font-size: 1.25rem;">
    CIFAR-10 with ImageNet 1k
  </p>
  {% include table.html id="CIFAR-10-IN1k" src=site.data._CIFAR-10.CIFAR10_IN1K published=true %}

  <p class="text-center" style="font-size: 1.25rem;">
    CIFAR-10 with DataComp-1B
  </p>
  {% include table.html id="CIFAR-10-DC1B" src=site.data._CIFAR-10.CIFAR10_DC1B published=true %}

  <p class="text-center" style="font-size: 1.25rem;">
    CIFAR-10 with anything goes
  </p>
  {% include table.html id="CIFAR-10-any" src=site.data._CIFAR-10.CIFAR10_any published=true %}
</section>

<section class="container" id="IMAGENET_heading"> <!-- IMAGENET -->
  <p class="text-center" style="font-size: 1.25rem;">
    ImageNet without public data
  </p>
  {% include table.html id="IMAGENET" src=site.data._ImageNet.ImageNet_no published=true %}

  <p class="text-center" style="font-size: 1.25rem;">
    ImageNet-1K (with public JFT300M)
  </p>
  {% include table.html id="IMAGENET-DC1B" src=site.data._ImageNet.ImageNet_DC1B published=true %}

  <p class="text-center" style="font-size: 1.25rem;">
    ImageNet-1K (with anything goes)
  </p>
  {% include table_any.html id="IMAGENET-ANY" src=site.data._ImageNet.ImageNet_any published=true %}
</section>

<!-- <section class="container" id="ImageNet_CIFAR-100_heading"></section>
  <p class="text-center" style="font-size: 1.25rem;">
    CIFAR-100 (with public ImageNet-1K)
  </p>
  {% include table.html id="ImageNet_CIFAR-100" src=site.data.ImageNet-CIFAR100 published=true %}
</section> -->

<!-- <section class="container" id="JFT300M_Places365_heading"></section>
  <p class="text-center" style="font-size: 1.25rem;">
    Places365 (with public JFT300M)
  </p>
  {% include table.html id="JFT300M_Places365" src=site.data.JFT300M-Places365 published=true %}
</section> -->

<!-- <section class="container" id="ImageNet_CheXpert_heading"></section>
  <p class="text-center" style="font-size: 1.25rem;">
    ImageNet_CheXpert
  </p>
  {% include table.html id="ImageNet_CheXpert" src=site.data.ImageNet-CheXpert published=true %}
</section> -->
  
<script>
  $(document).ready(function() {
    // initializeDataTable("MNIST");
    // initializeDataTable("FMNIST");

    //CIFAR-10:
    initializeDataTable("CIFAR-10-no");
    initializeDataTable("CIFAR-10-IN1k");
    initializeDataTable("CIFAR-10-DC1B");
    initializeDataTable("CIFAR-10-any");

    //CheXpert


    //EyePACS


    //ImageNet
    initializeDataTable("IMAGENET")
    initializeDataTable("IMAGENET-ANY");
    initializeDataTable("IMAGENET-DC1B");

    // initializeDataTable("ImageNet_CIFAR-100");
    // initializeDataTable("JFT300M_Places365");
    // initializeDataTable("ImageNet_CheXpert");
  });
</script>