<table id="{{ include.id }}" cellspacing="0" class="table table-striped table-bordered" style="width: 100%;">
    <thead>
      <tr>
        {% if include.published %}
          <th data-priority="1">Method</th>
          <th data-priority="9" data-orderable="false">Venue</th>
        {% else %}
          <th data-priority="1">Method</th>
        {% endif %}
        <th data-priority="3" data-orderable="false">Public Data</th>
        <th data-priority="4" data-orderable="false">Model</th>
        <th data-priority="5" data-orderable="false">Epsilon (&epsilon;)</th>
        <th data-priority="6" data-orderable="false">Delta (&delta;)</th>
        <th data-priority="7" data-orderable="false">Accuracy</th>
        <th data-priority="8" data-orderable="false">Accountant</th>
        <th data-priority="2" data-orderable="false">Verification</th>
      </tr>
    </thead>
    <tbody>
      {% for row in include.src %}
        {% for claim in row.claims %}
          <tr>
            {% if include.published %}
              <td data-sort="{{ row.venue_date }}">
            {% else %}
              <td data-sort="{{ row.upload_date }}">
            {% endif %}
              <a href="{{ row.url }}">{{ row.name }}</a> (<a href="{{ row.code }}">code</a>)
            </td>
            {% if include.published %}
              <td>{{ row.venue }}</td>
            {% endif %}
            <td>{{ claim.public_data }}</td>
            <td>{{ claim.model }}</td>
            <td>{{ claim.epsilon }}</td>
            <td>{{ claim.delta }}</td>
            <td>{{ claim.private_accuracy | markdownify }}</td>
            <td>{{ claim.dp_accountant }}</td>
            <td>
              <ul class="analyses">
              {% for analysis in claim.analyses %}
                <li>{{ analysis.claim }} [<a href="{{ analysis.url }}">{{ analysis.citation }}</a>] (<a href="{{ analysis.code }}">code</a>){% if analysis.note %} <span class='footnote' data-toggle="tooltip" title="{{ analysis.note }}"></span>{% endif %}</li>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  
  <script>
    function initializeDataTable(tableId) {
      // console.log('Initializing DataTable for table with ID:', tableId, "{{ include.id }}");
      $('#' + tableId).DataTable({
        language: {
          searchBuilder: {
            title: '',
            },
        },
        dom: 'Qfrtip',
        responsive: true,
        fixedHeader: true,
        paging: false,
        info: false,
        {% if include.published %}
          rowsGroup: [0, 1, 2],
          order: [[0, 'desc']], // XXX not sure why this has to be desc, but it seems to work
        {% else %}
          order: [[0, 'asc']],
          rowsGroup: [0],
        {% endif %}
      });
      $('[data-toggle="tooltip"]').tooltip()
    }
  </script>
  <noscript>
    The table above may not display properly without Javascript.
  </noscript>
  